<div class="container">
  <legend>Edit Post</legend>
  <form>
    <div class="mb-3">
      <label for="txtTitle" class="form-label">Title</label>
      <input type="text" [(ngModel)]="formData.title" class="form-control" name="title" id="txtTitle">
    </div>
    <div class="mb-3">
      <label for="txtBody" class="form-label">Body</label>
      <textarea name="Body" [(ngModel)]="formData.body" id="txtBody" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button type="button" (click)="update()" class="btn btn-primary">Update</button>
  </form>
</div>
