<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <th scope="row"> {{ post.id }} </th>
        <td> {{ post.title }} </td>
        <td> {{ post.body }} </td>
        <td nowrap>
          <a href="" class="btn btn-primary" [routerLink]="['/post/edit', post.id]">Edit</a>
          <button type="button" (click)="deletePost( post.id )" class="btn btn-danger ms-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
